<header class="navbar fixed-top">
  <nav class="container">
    <%= link_to root_path, class: 'header-image-link' do %>
      <%= image_tag 'contactapp.png', alt: 'Contactapp logo', class: 'header-logo d-inline-block align-top' %>
    <% end %>
    <p class="navbar-text pull-right">
      <%= link_to contacts_path, class: 'navbar-link contacts-header-link' do %>
        Contacts
      <% end %>
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
  </nav>
</header>
